body {
  width: 100%;
}
h1 {
  text-align: center;
}
#container {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
#container1 {
  margin: 0 auto;
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.field {
  display: grid;
  grid-template-columns: repeat(var(--columns), 30px);
  grid-template-rows: repeat(var(--rows), 30px);

  justify-content: center;
}
.field1 {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: repeat(5, 30px);

  justify-content: center;
}

.box {
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgb(243, 246, 250);
  align-items: center;

  border: 1px solid black;
}
.box:hover {
  background-color: plum;
  cursor: pointer;
}

.active {
  background-color: plum;
}

button {
  margin: 20px auto;
  text-align: center;
  font-size: 34px;
  justify-content: center;
}
.counter {
  font-size: 24px;
  margin: 10px auto;
  text-align: center;
}
.speed {
  margin: 0 auto;
  width: 50%;
  display: block;
}
